/*styles.css*/
#menuContainer {
  position: relative;
  z-index: 1;
  border: 2;
  border-style: solid;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

.btn-group {
  display:block;
  border-top: 1px solid black;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;

  border-style: solid;
}

#allNotesContainerBackground {
  position: fixed;
  top: 0;
  left: 0;
  border: 1;
  border-style: solid;
  height: 100%;
  width: 100%;
}

#allNotesContainer {
  position: relative;
  z-index:1;
  border: 1;
  border-style: solid;
  height: 100%;
}

/*
*
* NOTE STYLING
*
*/
.childrenNotes {
  position: relative;
}


.noteContainer {
  border: 1;
  border-style: solid;
  display: inline-block;
  position: absolute;
  /*height: auto;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*.note {
  display:block;
  width:100%;
  height:100%;
}*/

.noteTitle {
  text-align:center;
}

.note {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
/*  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;*/
}

.triangle {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent gray transparent;
}

.highlightShadow {
  box-shadow: 0px 0px 10px 20px yellow;
}
/*
* END NOTE
*/

/*
* Group: 
*/
.group {
  z-index: -1;
  position: absolute;
  background-color: LightGray;
  border: 2;
  border-style: solid;
  width: 100;
  height: 100;
}
/*
* END Group 
*/

/*
* Modal window
*/

#modalBackground {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
}

#modalBackground .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -100;
  margin-top: -100;
  width: 200px;
  height: 200px;
  border: 2;
  background-color: black;
  text-align: center;
  display: table;
}

.modal span {
  display: table-cell;
  vertical-align: middle;
  color: white;
}


/*
* 
*/

/*
button {
  float:right;
}

.submit {
  float:right;
}*/
/*.textContent {
  disabled: true;
}

textarea {
    width: 20em;
    height: 4em;
}

.noteContainer {
  border: 2;
  border-style: solid;
  display: inline-block;
}

.deleteButton {
  float:right;
}*/

/*.textContent {
  border: 1;
  border-style: solid;
  display: inline-block;
}
*/
