/*styles.css*/
#menuContainer {
  position: relative;
  z-index: 1;
  border: 2;
  border-style: solid;
}

#allNotesContainer {
  position: relative;
  z-index:0;
  border: 2;
  border-style: solid;
  height: 100%;
}

.noteContainer {
  border: 2;
  border-style: solid;
  display: inline-block;
  position: absolute;
}

/*form{
  display: block;
}*/

.note {
  display:block;
  width:100%;
}

.btn-group {
  display:block;
}
.deleteButton {
  float:right;
}

.submit {
  float:right;
}
/*.textContent {
  disabled: true;
}

textarea {
    width: 20em;
    height: 4em;
}

.noteContainer {
  border: 2;
  border-style: solid;
  display: inline-block;
}

.deleteButton {
  float:right;
}*/

/*.textContent {
  border: 1;
  border-style: solid;
  display: inline-block;
}
*/
