<!-- index.html -->
<!-- python -m SimpleHTTPServer 3333 -->
<html id='app-container' ng-app="BrainSpace">
<head>
  <title>BrainSpace - Angular</title>
</head>
<body>
  <div id='menuContainer' ng-controller='menu_controller'>
    <h3>BrainSpace</h3>

    <div class="btn-group" data-toggle="buttons">
      <span ng-controller='autocomplete_controller'>
        <input type='text' placeholder='Search...' ng-model='searchInput' ng-change="searchInputChanged()">
        <!-- <button>&#x25BC;</button> -->
      </span>
      <select hashtag_menu class='selectHashTag' ng-model="hashTag" ng-change='hashTagChanged()'>
        <option selected="selected" value='Select #...'>Select #...</option>
        <option value="{{key}}" ng-repeat='(key, hashTag) in hashTags'>{{key}}</option>
      </select>
      <label class="btn btn-primary" ng-click='buttonClicked(event)'>
        <input type="radio" ng-model="menuState" value="explore" checked> Explore
      </label>
      <label class="btn btn-primary">
        <input type="radio" ng-model="menuState" value="newNote"> New Note
      </label>
      <label class="btn btn-primary">
        <input type="radio" ng-model="menuState" value="drawGroup"> Draw Group
      </label>
      <button ng-click='toggleModal()'>Toggle Modal</button>
      <button speed_read ng-click='speedRead()'>Speed Read</button>
    </div>
    <note_menu_directive>
      <div class="btn-group">
        <span>Font size:</span>
        <select class='selectFontSize' ng-model="fontSizeString" ng-change='selectFontSizeChanged()'>
          <option value="8pt">8</option>
          <option value="10pt">10</option>
          <option value="12pt">12</option>
          <option value="14pt">14</option>
          <option value="18pt">18</option>
          <option value="24pt">24</option>
          <option value="36pt">36</option>
          <option value="48pt">48</option>
        </select>
        <!-- <span>[Insert redactor toolbar]</span> -->
        <button class="deleteButton" ng-click='deleteButtonClicked()'>Delete</button>
      </div>
    </note_menu_directive>
  </div>

  </div>
  <div navigation_directive id="allNotesContainerBackground">
    <div add_note_directive add_group_directive id='allNotesContainer' ng-controller='allNotes_controller'>
      <!-- <note_model_directive ng-repeat="(key, note) in notes2"></note_model_directive> -->
      <!-- <div draggable_directive resizable_div_directive nest_children_directive class='group' ng-controller='group_controller' ng-repeat="(key, group) in groups2"  ng-style="{left: group.style.left, top: group.style.top, width: group.style.width, height: group.style.height}" data-type="group" ng-mousedown='groupMousedown($event)'> -->
        <!-- Does NOT do 2-way data binding with: ng-style={{group}} -->
      <!-- <div class='triangle'></div>
      </div> -->
    </div>
  </div>
  <div modal_directive ng-controller='modal_controller' id='modalBackground'> 
    <div class='modal'>
      <div class='verticalLine'></div>
      <div class='tableCell'><span class='textBox'>{{text}}</span></div>
    </div>
  </div>

  <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="./bower_components/firebase/firebase.js"></script>
  <script type="text/javascript" src="./bower_components/angularfire/angularfire.js"></script>
  <script type="text/javascript" src="./app/modules/app/app.js"></script>
  <script type="text/javascript" src="./app/modules/factory/notes_factory_module.js"></script>
  <script type="text/javascript" src="./app/modules/factory/refactorData.service.js"></script>
  <script type="text/javascript" src="./app/modules/factory/data_service.js"></script>
  <script type="text/javascript" src="./app/modules/canvas/canvas.controller.js"></script>
  <!-- // <script type="text/javascript" src="./app/modules/canvas/render_service.js"></script> -->
  <script type="text/javascript" src="./app/modules/nav/navigation_module.js"></script>
  <script type="text/javascript" src="./app/modules/nav/navigation_directive.js"></script>
  <script type="text/javascript" src="./app/modules/nav/navigation_service.js"></script>
  <script type="text/javascript" src="./app/modules/headerMenu/headerMenu_module.js"></script>
  <script type="text/javascript" src="./app/modules/headerMenu/menu_controller.js"></script>
  <script type="text/javascript" src="./app/modules/headerMenu/headerMenu_service.js"></script>
  <script type="text/javascript" src="./app/modules/headerMenu/noteMenu_directive.js"></script>
  <script type="text/javascript" src="./app/modules/headerMenu/addNote_directive.js"></script>
  <script type="text/javascript" src="./app/modules/modal/modal_module.js"></script>
  <script type="text/javascript" src="./app/modules/note/note_module.js"></script>
  <script type="text/javascript" src="./app/modules/note/note_controller.js"></script>
  <script type="text/javascript" src="./app/modules/note/noteModel_directive.js"></script>
  <script type="text/javascript" src="./app/modules/note/draggable_directive.js"></script>
  <script type="text/javascript" src="./app/modules/note/resizableDiv_directive.js"></script>
  <script type="text/javascript" src="./app/modules/group/group_module.js"></script>
  <script type="text/javascript" src="./app/modules/group/group_controller.js"></script>
  <script type="text/javascript" src="./app/modules/group/addGroup_directive.js"></script>
  <script type="text/javascript" src="./app/modules/group/nestChildren.directive.js"></script>
  <script type="text/javascript" src="./app/modules/hashtag/hashtag.module.js"></script>
  <script type="text/javascript" src="./app/modules/autocomplete/autocomplete_module.js"></script>
  <script type="text/javascript" src="./app/modules/autocomplete/autocomplete_service.js"></script>
  <script type="text/javascript" src="./app/modules/nest/nest_module.js"></script>
  <script type="text/javascript" src="./app/modules/speedRead/speedRead_module.js"></script>

  <link rel="stylesheet" type="text/css" href="./app/styles/app.css">
</body>
</html>
