<!-- <div draggable_directive>{{note.title}}</div> -->

<div draggable_directive resizable_div_directive class='noteContainer' id="{{key}}" ng-style="{left: note.position.left, top: note.position.top}">
  <div class="btn-group">
    <button class="deleteButton" ng-click='deleteButtonClicked()'>Delete</button>
  </div>
  <input class='note noteTitle' name='noteTitle' placeholder='Note Title' ng-model="note.title" ng-style="{'font-size': note.title_style.fontSize}">
  <textarea class="note noteBody" ng-model='note.body' placeholder="Notes..." ng-style="{width: note.body_style.width, height: note.body_style.height}" ></textarea>
</div>

