<!-- index.html -->
<html ng-app="BrainSpace">
<head>
  <title>BrainSpace - Angular</title>
</head>
<body>
  <div menu_directive id='menuContainer' ng-controller='menu-controller'>
    <h2>BrainSpace</h2>
    <div class="btn-group menu" data-toggle="buttons">
      <label class="btn btn-primary" ng-click='buttonClicked(event)'>
        <input type="radio" name="options" id="explore"> Explore
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="newNote" checked> New Note
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="newGroup"> Insert Image
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="newGroup"> Draw Group
      </label>
      <label class="btn btn-primary">
      </label>
    </div>
    <div class="btn-group">
      <span>Font size:</span>
      <select class='selectFontSize'>
        <option value="8pt">8</option>
        <option value="10pt">10</option>
        <option value="12pt" selected>12</option>
        <option value="14pt">14</option>
        <option value="18pt">18</option>
        <option value="24pt">24</option>
        <option value="36pt">36</option>
        <option value="48pt">48</option>
      </select>
      <span>[Insert redactor toolbar]</span>
      <button class="deleteButton" ng-click='deleteButtonClicked()'>Delete</button>
    </div>
  </div>

  </div>
  <div add_note_directive id='allNotesContainer' ng-controller='allNotes-controller'>
    <div draggable_directive note_model_directive class='noteContainer' ng-controller='note-controller' ng-repeat='(key, note) in notes' id="{{key}}" ng-style="{left: note.position.left, top: note.position.top}">
        <div class="btn-group">
          <!-- <span>Font size:</span> -->
          <select class='selectFontSize' ng-model="fontSize">
            <option value="8pt">8</option>
            <option value="10pt">10</option>
            <option value="12pt">12</option>
            <option value="14pt">14</option>
            <option value="18pt">18</option>
            <option value="24pt">24</option>
            <option value="36pt">36</option>
            <option value="48pt">48</option>
          </select>
          <button class="deleteButton" ng-click='deleteButtonClicked()'>Delete</button>
        </div>
        <input class='note noteTitle' name='noteTitle' placeholder='Note Title' ng-model="note.title" ng-style="{'font-size': note.title_style.fontSize}">
        <textarea class="note noteBody" ng-model='note.body' placeholder="Notes..." ng-style="{width: note.body_style.width, height: note.body_style.height}" ></textarea>
<!--         <div>
          <button ng-click='submitButtonClicked()'>Submit</button>
          <button ng-click='updateButtonClicked()'>Update</button>
        </div> -->
    </div>
  </div>

  <!-- http://stackoverflow.com/questions/2441565/how-do-i-make-a-div-element-editable-like-a-textarea-when-i-click-it -->
  <template id="noteTemplate">

    <div draggable class='noteContainer' ng-controller='note-controller'>
        <div class="btn-group">
          <button class="deleteButton" ng-click='deleteButtonClicked()'>Delete</button>
        </div>
        <input class='note' name='noteTitle' placeholder='Note Title' ng-model="note.title">
        <textarea class="note" ng-model='note.body' placeholder="Notes..."></textarea>
        <div>
          <button ng-click='updateButtonClicked()'>Update</button>
          <button ng-click='submitButtonClicked()'>Submit</button>
        </div>
    </div>

  </template>

    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="../bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="../bower_components/angularfire/angularfire.js"></script>
    <script type="text/javascript" src="./modules/app.js"></script>
    <script type="text/javascript" src="./modules/draggable.js"></script>
    <script type="text/javascript" src="./modules/note_model_directive.js"></script>
    <link rel="stylesheet" type="text/css" href="./styles/app.css">
</body>
</html>
